<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionMatriculasBD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Matricular</display-name>
    <servlet-name>Matricular</servlet-name>
    <servlet-class>Matricular</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Matricular</servlet-name>
    <url-pattern>/Matricular</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarAlumno</display-name>
    <servlet-name>BuscarAlumno</servlet-name>
    <servlet-class>BuscarAlumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarAlumno</servlet-name>
    <url-pattern>/BuscarAlumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modificar</display-name>
    <servlet-name>Modificar</servlet-name>
    <servlet-class>Modificar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modificar</servlet-name>
    <url-pattern>/Modificar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Borrar</display-name>
    <servlet-name>Borrar</servlet-name>
    <servlet-class>Borrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrar</servlet-name>
    <url-pattern>/Borrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarAlumnos</display-name>
    <servlet-name>MostrarAlumnos</servlet-name>
    <servlet-class>MostrarAlumnos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarAlumnos</servlet-name>
    <url-pattern>/MostrarAlumnos</url-pattern>
  </servlet-mapping>
</web-app>